.add-option-error
  color: $off-white
  font-style: italic
  padding: 0 $m-size
  margin-top: $m-size

.add-option
  display: flex
  flex-direction: column
  padding: $m-size

  &__input
    flex-grow: 1
    background-color: $dark-blue
    border: none
    border-bottom: .3rem solid darken($dark-blue, 10%)
    margin: 0
    color: white
    padding: $s-size

@media (min-width: $desktop-breakpoint)
  .add-option
    flex-direction: row

    &__input
      margin-right: $s-size
    