.header
  background: $off-black
  color: white
  margin-bottom: $m-size
  padding: $m-size 0
  @media (min-width: $desktop-breakpoint)
    margin-bottom: $xl-size

  &__title
    font-size: $l-size
    margin: 0

  &__subtitle
    color: $off-white
    font-size: $m-size
    font-weight: 500
    margin: 0

