.ReactModalPortal > div
  opacity: 0

.ReactModalPortal .ReactModal__Overlay
  display: flex
  justify-content: center
  align-items: center
  transition: opacity 200ms ease-in-out

.ReactModalPortal .ReactModal__Overlay--after-open
  opacity: 1

.ReactModalPortal .ReactModal__Overlay--before-close
  opacity: 0

.modal
  background-color: $light-blue
  color: white
  max-width: 30rem
  outline: none
  padding: $l-size
  text-align: center

  &__title
    margin: 0
    margin-bottom: $m-size

  &__body
    margin: 0
    margin-bottom: $l-size
    font-size: 2rem
    font-weight: 300
    word-break: break-all
