{% extends "layout.html" %}

{% block title %}
    registrants
{% endblock %}

{% block body %}
    <ul>
       {% for registrant in registrants %}
            <li>{{ registrants.name}} from {{ registrants.dorm }}</li>
       {% endfor %}
    </ul>
{% endblock %}