{% extends "layout.html" %}

{% block title %}
    registrants
{% endblock %}

{% block body %}
<form action="{{ url_for('unregister') }}" method="post"></form>
    <ul>
       {% for registrant in registrants %}
            <li><input name="id" type="radio" value="{{ registrants.id}}"/>{{ registrants.name}} from {{ registrants.dorm }}</li>
       {% endfor %}
    </ul>
    <input type="submit" value="Unregister">
{% endblock %}