<script src="../tinytest.js"></script>
<script>
  // Example 1:
  // forEach([1, 2, 3], function() {
  //   console.log('hi');
  // });

  // Example 2:
  // forEach([1, 2, 3], function(number) {
  //   console.log(number);
  // });

  // Example 3:
  // The index of the current element being processed in the array.
  // forEach([1, 2, 3], function(number, index) {
  //   console.log(index);
  // });

  // Example 4:
  // The index of the current element being processed in the array.
  // forEach([1, 2, 3], function(number, index, originalArray) {
  //   console.log(originalArray);
  // });

  function forEach(array, callback, optionalThisObject) {
    var forEachCallback =  callback;
    if (optionalThisObject) {
      forEachCallback = callback.bind(optionalThisObject);
    }
    for (var i = 0; i < array.length; i++) {
      forEachCallback(array[i], i, array);
    }
  }

  tests({
    'It should run the callback function array.length times.': function () {
      var counter = 0;
      forEach([1, 2, 3], function () {
        counter++;
      });
      eq(counter, 3);
    },
    'It should pass in the ith element as the first argument to the callback.': function () {
      forEach([1], function (number) {
        eq(number, 1);
      });
    },
    'It should pass in the  ith position as the second argyment to the callback.': function () {
      forEach([1], function (number, index) {
        eq(index, 0);
      });
    },
    'It should pass in the original array as the third argument to the callback.': function () {
      var testArray = [1, 2, 3];
      forEach(testArray, function (number, index, originalArray) {
        eq(originalArray, testArray);
      });
    },
    'It should accept an optional this object.': function () {
      forEach([1], function (number, index, originalArray) {
        eq(this.description, 'I should be accessible inside of the callback');
      }, {description: 'I should be accessible inside of the callback'});
    }
  });
</script>