html
  font-size: 62.5%

body
  background-color: white
  font-family: Helvetica, Arial, sans-serif
  font-size: 1.6rem

button
  cursor: pointer
  
  &:disabled
    cursor: default

.is-active
  font-weight: bolder