<script src="simpletest.js"></script>
<script>

function pairElement(str) {
  var pairs = {
    "A": ["A", "T"],
    "T": ["T", "A"],
    "C": ["C", "G"],
    "G": ["G", "C"]
  };

  return str.split("").map(function(base) {
    return pairs[base];
  });
}

  tests({
    'If base pair begins with A, return AT.': function () {
      // debugger;
      var result = pairElement("A");
      eq(result[0][0], 'A');
      eq(result[0][1], 'T');
    },
    'If base pair begins with T, return TA.': function () {
      // debugger;
      var result = pairElement("T");
      eq(result[0][0], 'T');
      eq(result[0][1], 'A');
    },
    'If base pair begins with C, return CG.': function () {
      var result = pairElement("C");
      eq(result[0][0], 'C');
      eq(result[0][1], 'G');

    },
    'If base pair begins with G, return GC.': function () {
      var result = pairElement("G");
      eq(result[0][0], 'G');
      eq(result[0][1], 'C');
    }
  })

</script>