<script src="simpletest.js"></script>
<script>
  // Word starts with vowel, add 'way' to the end.
  // Word does not start with vowel, move first letter to the end, add 'ay'.
  // Word starts with n number of consecutive non-vowels, add them to the end, add ay.

  function translatePigLatin(str) {
    if (str.match(/^[aeiou]/))
      return str + 'way';
    else
      while (!str.match(/^[aeiou]/))
        str = str.substr(1) + str[0];
      return str + 'ay';
  }

  tests({
    'It should detect a vowel as the first letter, then add way to the end of `str`.': function () {
      var result = translatePigLatin("alphabet");
      eq(result, "alphabetway");
    },
    'It should detect if the first letter is not a vowel, then move it to the end of `str`.': function () {
      var result = translatePigLatin("california");
      eq(result, "aliforniacay");
    },
    'It should detect if the first and consecutive letters are not vowels, then move them to the end of `str`': function () {
      var result = translatePigLatin("glove");
      eq(result, "oveglay");
    }
  })
</script>