<script src="simpletest.js"></script>
<script>

  function myReplace(str, before, after) {
    if (before[0] >= 'A' && before[0] <= 'Z')
      after = after[0].toUpperCase() + after.substr(1);

    // Return `str.replace(before, after)` in production.
    return [str.replace(before, after), after];
  }

  tests({
    'It should find the word to replace.': function () {
      var result = myReplace("A quick brown fox jumped over the lazy dog", "jumped", "leaped");
      eq(result[0], "A quick brown fox leaped over the lazy dog");
    },
    'It should capitalise the first letter of `after`, if the first letter of `before` is capitalised.': function () {
      var result = myReplace("His name is Tom", "Tom", "john");
      eq(result[1], "John");
    },
    'It should return the expected return value.': function () {
      var result = myReplace("A quick brown fox jumped over the lazy dog", "jumped", "leaped");
      eq(result[0], "A quick brown fox leaped over the lazy dog");
    }
  })

</script>
