:root {
  --grey: #343436;
}

html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepen {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
}

.codepen > * {
  border: 1px solid black;
}

.code {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pen {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  background: black;
  border: 5px solid var(--grey);
  color: white;
  padding: 10px;
}

.preview {
  display: grid;
}

.button {
  background: var(--grey);
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}