body {
    font-family: Helvetica;
}

h1 {
    color: #FFF;
    font-size: 200%;
    font-weight: 700;
    letter-spacing: 3px;
    padding-right: 50px;
    padding-bottom: 150px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
    vertical-align: top;
}

ul {
    font-size: 75%;
    list-style: none;
    padding-left: 20px;
    padding-right: 5px;
}

table {
    table-layout: fixed;
    width: 70%;
}

.month-header {
    background-image: url(http://i66.tinypic.com/dy85ev.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: right
}

.weekday-header {
    background-color: #999;
    border-color: #ddd;
    border-style: solid;
    letter-spacing: 1px;
    line-height: 25px;
}

.week {
    background-color: #eaeaea;
    height: 75px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}

.event {
    border-radius: 5px;
    color: #10171C;
    padding: 5px;
    margin: 5px 0;
}

.dog-walk {
    background-color: #A6F4FF;
}

.school {
    background-color: #BA9CE8;
}

.appointment {
    background-color: #FF7E6D;
}

.birthday {
    background-color: #AFFFAD;
}

.holiday {
    background-color: #E8E193;
}

.off-day {
    background-color: #ddd;
}

.copyright-notice {
    color: #FFF;
    font-size: 50%;
    padding-right: 50px;
    text-align: right;
    text-decoration: none;
    vertical-align: bottom;
}